<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidappgestionbasura"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!--    Para el servicio en segundo plano constante, para poder escuchar cuando el movil se inicia-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".utility.AppConf"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <activity android:name=".presentacion.HomeActivityPackage.EditProfile"/>
        <activity android:name=".presentacion.HomeActivityPackage.misdispositivos.FormularioCreacionBasura" />
        <activity android:name=".presentacion.VerfiyEmailActivity" />
        <activity
            android:name=".presentacion.SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentacion.HomeActivityPackage.misdispositivos.DispositivoDetallesActivity" />
        <activity android:name=".presentacion.HomeActivityPackage.HomeActivity" />
        <activity
            android:name=".presentacion.AuthActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".presentacion.RegisterActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity
            android:name=".presentacion.RatailerStartUpScreenActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
        <activity android:name=".presentacion.ScanCodeActivity" />

        <service android:name=".servicios.ServicioNotificacionesMqtt"
            android:enabled="true"
            android:exported="false" />
<!--        Broadcast receiver que escucha cuando el telefono se inicia para arrancar el servicio-->
        <receiver
            android:name=".broadcast.BroadcastReciverBootCompleted">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>
        </receiver>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>